<%= link_to 'New Article', new_article_path, class: "btn btn-default" %>
<h1 class="center">Articles</h1>
<%= render partial: "article" %>
<div class="center">
  <%= will_paginate @comments %>
</div>
